html {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.btn {
  display: inline-block;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
  border-color: #333;
  background-color: #333;
  color: #fff;
  margin-top: 1em;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

a.btn {
  text-decoration: none;
}

body {
  margin: 0;
}

.banner {
  /*overflow: hidden;*/
  position: relative;
  text-align: left;
  max-height: 500px;
}

.img-flex {
  display: inline;
  width: 100%;
}
/*.logo {
  /*position: absolute;
  display: block;
  /*left: -15em;
  top: -15em;
}
*/
img {
  display: inline-block;
}
.banner-content {
  display: block;
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 1.5rem;
  transform: translateX(-50%);
  max-width: 45em;
  padding: 0 1.5em;

}

.banner-text {
  display: inline-block;
  position: absolute;
  margin-left: 2em;
  /*margin-right: -5em;*/
}

span {
  /*display: inline;*/
}

.banner h2 {
  color: #000;
  margin: 0;
  line-height: 1.4;
  font-size: 3rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

.banner p {
  font-size: 1.5rem;
  margin: 0;
  padding-top: .7em;
  font-family: "Roboto", sans-serif;
}
